body {
    background-color: whitesmoke;
}

.header,
.h2 {
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 32px;
}
.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.h2 {
    text-align: center;
    font-size: 32px;
}
.list-container{
    text-align: center;
}
ul,
ol {
    width: 900px;
    margin: 0px;
    display: inline-block;
    text-align: left;
    font-size: 24px;
}
.descriptor {
    font-size: 28px;
}
.index-list {
    font-size: 30px;
}
.clickity {
    font-size: 24px;
}
.box {
    display: inline-block;
    text-align: left;
    width: auto;
}