body {
    background-color: whitesmoke;
}
div {
    max-width: 900px;
    margin: 0 auto;
}
.header,
.h2 {
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 32px;
}
.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.list-container{
    text-align: center;
}
ul,
ol {
    font-size: 28px;
    list-style: square;
    margin: -20px;
    display: inline-block;
    text-align: left;
    max-width: 850px;
}
ol {
    list-style: decimal;
}
li::marker {
    font-weight: bolder;
}
.descriptor {
    display: inline-block;
    text-align: left;
    font-size: 28px;
}
.index-list {
    font-size: 30px;
}
.clickity {
    display: block;
    text-align: center;
    width: 200px;
    font-size: 24px;
}